/* src/components/LifeStory3D/index.scss */
.lifescene-root {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(1200px 600px at 10% 10%, #f0fbff 0%, transparent 10%),
        linear-gradient(180deg, #fbfdff 0%, #ffffff 100%);
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}