.app-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; // Dark sci-fi bg
    display: flex;
    align-items: center;
    justify-content: center;
}